body {
    background-color: black;
    background-image: url("trumpisliarscum.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 98vh;
}

h1 {
    color: white;
}
